.storeThumbnails{
  margin: 3px;
  display: grid;
  justify-content: space-evenly;
}

.storeThumbnails div{
  margin: 10px;
  padding: 5px;
  /* box-shadow: 0 10px 6px -6px #777; */
}

.storeThumbnails div:hover{
  transform: scale(1.03);
  transition: .30s;
}

.laptopContainer{
  grid-row: 1;
}

.mouseContainer{
  grid-row: 1;
}

.mousepadContainer{
  grid-row: 1;
}

