section{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

article{
    padding: 10px;
    margin: 10px;
    border: black solid;
    border-radius: 10%;
    text-align: center;
}

