section{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

article{
    padding: 10px;
    margin: 10px;
    border: black solid;
    border-radius: 10%;
    text-align: center;
}

.buy {
    width: 90%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: green;
    color: white;
}

.buy:hover{
    background-color:#009933 ;
}